# 선택정렬

In [4]:
array = [7,5,9,0,3,1,6,2,4,8]

for i in range(len(array)):
    min_index  = i
    for j in range(i+1, len(array)):
        if array[min_index]>array[j]:
            min_index = j
    array[i],array[min_index] = array[min_index], array[i]

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 스와프

In [7]:
array = [3,5]
array[0], array[1] = array[1], array[0]
print(array)

[5, 3]

# 삽입정렬

In [9]:
array = [7,5,9,0,3,1,6,2,4,8]

for i in range(1, len(array)):
    for j in range(i,0,-1):
        if array[j] < array[j-1]:
            array[j], array[j-1] = array[j-1], array[j]
        else:
            break

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 퀵정렬

In [13]:
array = [5,7,9,0,3,1,6,2,4,8]

def quick_sort(array, start, end):
    if start >= end:
        return
    
    pivot = start
    left = start + 1
    right = end
    while left <= right:
        while left <= end and array[left] <= array[pivot]:
            left += 1
        while right > start and array[right] >= array[pivot]:
            right -= 1
        
        if left > right:
            array[right], array[pivot] = array[pivot], array[right]
        else:
            array[left], array[right] = array[right], array[left]
    
    quick_sort(array,start,right-1)
    quick_sort(array,right+1,end)

quick_sort(array,0,len(array)-1)
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
array = [5,7,9,0,3,1,6,2,4,8]

def quick_sort(array):
    if len(array) <= 1:
        return array
    
    pivot = array[0]
    tail = array[1:]
    
    left_side = [x for x in tail if x <= pivot]
    right_side = [x for x in tail if x > pivot]
    
    return quick_sort(left_side) + [pivot] + quick_sort(right_side)

print(quick_sort(array))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 계수정렬

In [21]:
array = [7,5,9,0,3,1,6,2,9,1,4,8,0,5,2]

count = [0]*(max(array)+1)

for i in range(len(array)):
    count[array[i]] += 1
    
for i in range(len(count)):
    for j in range(count[i]):
        print(i, end=' ')

0 0 1 1 2 2 3 4 5 5 6 7 8 9 9

In [27]:
array = [7,5,9,0,3,1,6,2,4,8]

result = sorted(array)

print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
array = [7,5,9,0,3,1,6,2,4,8]

array.sort()

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
array = [('바나나',2), ('사과',5), ('당근',3)]

array.sort(key=lambda x: x[1])  # 튜플의 두번째 원소를 기준으로 정렬
print(array)

[('바나나', 2), ('당근', 3), ('사과', 5)]

# 실전문제

## 위에서 아래로

In [32]:
N = int(input())
x = [int(input()) for _ in range(N)]

# 파이썬 내장함수 이용
result = sorted(x)
# 역순으로 리스트 정렬
result.reverse()

print(*result)

3
15
27
12
27 15 12

In [33]:
# 답안
n = int(input())
array = []
for _ in range(n):
    array.append(int(input()))
    
array = sorted(array, reverse=True)

for i in array:
    print(i, end=' ')

3
15
27
12
27 15 12

## 성적이 낮은 순서로 학생 출력하기

In [35]:
N = int(input())
grades = []

for _ in range(N):
    x, y = input().split()
    grades.append((x,int(y)))
    
grades.sort(key = lambda x: x[1])
for i in range(N):
    print(grades[i][0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

In [36]:
# 답안
n = int(input())

array = []
for i in range(n):
    input_data = input().split()
    array.append((input_data[0], int(input_data[1])))
    
# sorted 함수를 이용하여 list로 출력
array = sorted(array, key = lambda student: student[1])

for student in array:
    print(student[0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

## 두 배열의 원소 교체

In [37]:
N, K = map(int, input().split())
A = list(map(int, input().split()))
B = list(map(int, input().split()))

for _ in range(K):
    min_A = min(A)
    max_B = max(B)
    A.replace(min_A, max_B, 1)
    
result = sum(A)
print(result)

5 3
1 2 5 4 3
5 5 6 6 5

AttributeError: 'list' object has no attribute 'replace'

In [38]:
N, K = map(int, input().split())
A = list(map(int, input().split()))
B = list(map(int, input().split()))

# A와 B를 각각 오름차순, 내림차순으로 정렬
A = sorted(A)
B = sorted(B, reverse = True)

# min값과 max값을 swap
for i in range(K):
    A[i], B[i] = B[i], A[i]
    
result = sum(A)
print(result)

5 3
1 2 5 4 3
5 5 6 6 5
26

In [39]:
# 답안
N, K = map(int, input().split())
A = list(map(int, input().split()))
B = list(map(int, input().split()))

A = sorted(A)
B = sorted(B, reverse = True)

for i in range(K):
    if A[i] < B[i]:
        A[i], B[i] = B[i], A[i]
    else:
        break
    
result = sum(A)
print(result)

5 3
1 2 5 4 3
5 5 6 6 5
26